@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }

    .alert-enter-active,
    .alert-leave-active {
        transition: all 0.3s ease;
    }

    .alert-enter-from,
    .alert-leave-to {
        opacity: 0;
        transform: translateY(-20px);
    }
}